section{
    height: 730px;
    width: auto;
}
.bg{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#name{
  
  color: white;
}
#date{
    color: yellow;
}
